### [011] Engagement in the online environment, as measured by assessment did on the environment.

In [1]:
import pandas as pd
import numpy as np
import plotly as pl
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.offline as off

In [2]:
NUMBER_STUDENTS = 21
df011 = pd.DataFrame(columns=["Students","Assign1","Assign2",'Assign3','Assign4'])
for i in range(1,NUMBER_STUDENTS):
    df011.loc[i] = [np.random.randint(0,2) for n in range(len(df011.columns))]
    df011.loc[i,"Students"] = "Student_"+str(i)    

df011

      Students Assign1 Assign2 Assign3 Assign4
1    Student_1       0       1       1       1
2    Student_2       1       1       1       1
3    Student_3       0       0       1       0
4    Student_4       0       0       1       1
5    Student_5       0       1       1       0
6    Student_6       0       0       0       0
7    Student_7       0       0       1       1
8    Student_8       1       1       0       0
9    Student_9       0       0       0       0
10  Student_10       1       1       0       1
11  Student_11       1       1       0       1
12  Student_12       0       0       1       1
13  Student_13       0       0       1       0
14  Student_14       0       0       1       1
15  Student_15       0       1       0       1
16  Student_16       0       1       1       0
17  Student_17       1       1       0       0
18  Student_18       1       0       0       0
19  Student_19       0       0       0       1
20  Student_20       0       0       0       1

In [3]:
def sum_assigns(row):
    return row["Assign1"]+row["Assign2"]+row["Assign3"]+row["Assign4"]

def get_student(row):
    return row["Students"]

students = pd.DataFrame(columns=["Name","Total"])
students["Total"] = df011.apply(sum_assigns, axis=1)
students["Name"] = df011.apply(get_student, axis=1)
# print (students)

assigns = pd.DataFrame(columns=["Name","Total"])

for i in range (0,len(df011.columns[1:])):
    assigns.loc[i,"Name"] = df011.columns[i+1]
    assigns.loc[i,"Total"] = df011[df011.columns[i+1]].sum()
print (assigns)

      Name Total
0  Assign1     6
1  Assign2     9
2  Assign3    10
3  Assign4    11

In [4]:
trace011_1 = [go.Bar(
            x=students.Name.values,
            y=students.Total.values
    )]

data011_1 = trace011_1
layout011_1 = go.Layout(
        title='Quantidade de tarefas feitas por alunos',
        yaxis=dict(
#             title='AXIS TITLE',
            titlefont=dict(
                family='Arial, sans-serif',
#                 size=18,
                color='lightgrey'
            ),
            showticklabels=True,
            tick0=0,
            dtick=1,
#             ticklen=4,
#             tickwidth=4,
            exponentformat='e',
            showexponent='all',
            gridcolor='#bdbdbd',
#             range=[0, 4.1]
        )
    )

fig011_1 = go.Figure(data=data011_1, layout=layout011_1)
py.iplot(fig011_1, filename='011_1')

In [5]:
trace011_2 = [go.Bar(
            x=assigns.Name.values,
            y=assigns.Total.values
    )]

data011_2 = trace011_2
layout011_2 = go.Layout(
        title='Quantidade de alunos que fizeram as tarefas',
        yaxis=dict(
#             title='Número de alunos',
            titlefont=dict(
                family='Arial, sans-serif',
#                 size=18,
                color='lightgrey'
            ),
            showticklabels=True,
            tick0=0,
            dtick=1,
#             ticklen=4,
#             tickwidth=4,
            exponentformat='e',
            showexponent='all',
            gridcolor='#bdbdbd',
#             range=[0, 13]
        )
    )

fig011_2 = go.Figure(data=data011_2, layout=layout011_2)
py.iplot(fig011_2, filename='011_2')

In [6]:
df011_plot = pd.DataFrame(columns=df011.Students.values)
df011_plot.insert(loc=0,column="Assign",value=df011.columns[1:])

for i in range(0,len(df011.values)):
    for j in range(0,len(df011.columns[1:])):        
        if df011.iat[i,j+1] == 1:
            df011_plot.iat[j,i+1] = "x"
        else:
            df011_plot.iat[j,i+1] = ""
    

df011_plot

,Assign,Student_1,Student_2,Student_3,Student_4,Student_5,Student_6,Student_7,Student_8,Student_9,...,Student_11,Student_12,Student_13,Student_14,Student_15,Student_16,Student_17,Student_18,Student_19,Student_20
0,Assign1,,x,,,,,,x,,...,x,,,,,,x,x,,
1,Assign2,x,x,,,x,,,x,,...,x,,,,x,x,x,,,
2,Assign3,x,x,x,x,x,,x,,,...,,x,x,x,,x,,,,
3,Assign4,x,x,,x,,,x,,,...,x,x,,x,x,,,,x,x

## [012] Engagement in the online environment, as measured by materials accessed on the environment.

In [10]:
df012 = pd.DataFrame(columns=["Students","Video1","Video2",'Quiz1','Quiz2','Pdf1','Pdf2','Ebook1','Ebook2'])
for i in range(1,NUMBER_STUDENTS):
    df012.loc[i] = [np.random.randint(0,30) for n in range(len(df012.columns))]
    df012.loc[i,"Students"] = "Student_"+str(i) 

df012

      Students Video1 Video2 Quiz1 Quiz2 Pdf1 Pdf2 Ebook1 Ebook2
1    Student_1      3      1     7    13   11   19     25      3
2    Student_2      5     13    14    21    0   28     25      2
3    Student_3     23     22     9    25   23    5     13     10
4    Student_4      9     25    13     8    1   19      5     26
5    Student_5      9      8    13    24    7   22     14     28
6    Student_6      9     25    25     5    5    6     29     19
7    Student_7      4     10    18    24   12    1     12     20
8    Student_8     26     29     3     9   27   11      3     21
9    Student_9     11     26     5    10   26   27      6      8
10  Student_10     27     27     8    22   24   20     25      8
11  Student_11     16     22    23    27   24    1     18      2
12  Student_12     16      6    11     2   15    3      7      9
13  Student_13      7     19     8    20   11   21     15      2
14  Student_14     26     26     1    18    5    8     11      0
15  Student_15     22      0    12    13   21   19     23     26
16  Student_16     27     28     9    18    2   27     28     24
17  Student_17      1     28    21    24   15   14     16     28
18  Student_18      5     15    26    22    2   17     27      5
19  Student_19      8     15     4    28   27   10      2     12
20  Student_20      8     22    10    26    0   20      3      9

In [104]:
trace012_1 = []
for i in range(len(df012.columns[1:])):
    trace012_1.append(go.Bar(
            x=df012.Students.values,
            y=df012.iloc[:,i+1].values,
            name=df012.columns[i+1]
    ))

data012_1 = trace012_1
layout012_1 = go.Layout(
        title='Quantidade de acessos por materiais agrupados por aluno',
        yaxis=dict(
#             title='AXIS TITLE',
            titlefont=dict(
                family='Arial, sans-serif',
#                 size=18,
                color='lightgrey'
            ),
            showticklabels=True,
            tick0=0,
            dtick=1,
#             ticklen=4,
#             tickwidth=4,
            exponentformat='e',
            showexponent='all',
            gridcolor='#bdbdbd',
#             range=[0, 4.1]
        )
    )

fig012_1 = go.Figure(data=data012_1, layout=layout012_1)
py.iplot(fig012_1, filename='012_1')

In [139]:
trace012_2 = go.Heatmap(z=df012.iloc[:,1:].values,
                   x=df012.columns[1:], #Materials
                   y=df012.iloc[:,0].values, #Students
                   colorscale=[[0, 'rgb(255,255,255)'], [1, 'rgb(0,0,255)']],
             )

data012_2 = [trace012_2]
layout012_2 = go.Layout(
        title='Quantidade de acessos nos materiais materiais por estudantes',
        yaxis=dict(
#             title='AXIS TITLE',
            titlefont=dict(
                family='Arial, sans-serif',
#                 size=18,
                color='lightgrey'
            ),
            showticklabels=True,
            tick0=0,
            dtick=1,
#             ticklen=4,
#             tickwidth=4,
            exponentformat='e',
            showexponent='all',
            gridcolor='#bdbdbd',
#             range=[0, 4.1]
        )
    )

fig012_2 = go.Figure(data=data012_2, layout=layout012_2)
py.iplot(fig012_2, filename='012_2')

In [145]:
trace0 = go.Scatter(
    x=df012.columns[1:], #Materials
    y=df012.iloc[:,0].values, #Students
    mode='markers',
    marker=dict(
#         size=[[40,10], [60], [80], [100]],
    )
)

data = [trace0]
py.iplot(data, filename='bubblechart-size')